USE [master]
GO
/****** Object:  Database [BFASDatabase]    Script Date: 10/25/2025 5:45:31 AM ******/
CREATE DATABASE [BFASDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BFASDatabase', FILENAME = N'D:\Program Files\MSSQL16.SQLEXPRESS\MSSQL\DATA\BFASDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BFASDatabase_log', FILENAME = N'D:\Program Files\MSSQL16.SQLEXPRESS\MSSQL\DATA\BFASDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BFASDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BFASDatabase]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](255) NOT NULL,
	[module] [nvarchar](100) NOT NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank_accounts]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[account_number] [nvarchar](50) NOT NULL,
	[account_type] [nvarchar](20) NULL,
	[balance] [decimal](18, 2) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[account_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[beneficiaries]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[beneficiaries](
	[beneficiary_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[beneficiary_name] [nvarchar](100) NOT NULL,
	[account_number] [nvarchar](50) NOT NULL,
	[bank_name] [nvarchar](100) NULL,
	[nickname] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[beneficiary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_payments]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[biller_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[payment_date] [datetime] NULL,
	[reference_number] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billers]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billers](
	[biller_id] [int] IDENTITY(1,1) NOT NULL,
	[biller_name] [nvarchar](100) NOT NULL,
	[biller_type] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[biller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[card_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[card_number] [nvarchar](19) NOT NULL,
	[card_type] [nvarchar](20) NOT NULL,
	[card_status] [nvarchar](20) NULL,
	[cvv] [nvarchar](4) NULL,
	[expiry_date] [date] NULL,
	[card_limit] [decimal](18, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_profiles]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_profiles](
	[profile_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[date_of_birth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[message] [nvarchar](500) NOT NULL,
	[type] [nvarchar](20) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qr_payments]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qr_payments](
	[qr_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[qr_code] [nvarchar](255) NOT NULL,
	[amount] [decimal](18, 2) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[qr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rewards]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rewards](
	[reward_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[points] [int] NULL,
	[tier] [nvarchar](20) NULL,
	[cashback_earned] [decimal](18, 2) NULL,
	[last_updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[reward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[savings_goals]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[savings_goals](
	[goal_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[goal_name] [nvarchar](100) NOT NULL,
	[target_amount] [decimal](18, 2) NOT NULL,
	[current_amount] [decimal](18, 2) NULL,
	[target_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[transaction_type] [nvarchar](50) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transaction_date] [datetime] NULL,
	[status] [nvarchar](20) NULL,
	[reference_number] [nvarchar](50) NULL,
	[payment_mode] [nvarchar](50) NOT NULL,
	[qr_code] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transfers]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transfers](
	[transfer_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_account_id] [int] NOT NULL,
	[receiver_account_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[transfer_date] [datetime] NULL,
	[reference_number] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[transfer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/25/2025 5:45:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[profile_picture] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_logs] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT ('Savings') FOR [account_type]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[beneficiaries] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bill_payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[bill_payments] ADD  DEFAULT ('Completed') FOR [status]
GO
ALTER TABLE [dbo].[billers] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[billers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cards] ADD  DEFAULT ('Active') FOR [card_status]
GO
ALTER TABLE [dbo].[cards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[qr_payments] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[qr_payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rewards] ADD  DEFAULT ((0)) FOR [points]
GO
ALTER TABLE [dbo].[rewards] ADD  DEFAULT ('Bronze') FOR [tier]
GO
ALTER TABLE [dbo].[rewards] ADD  DEFAULT ((0)) FOR [cashback_earned]
GO
ALTER TABLE [dbo].[rewards] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[savings_goals] ADD  DEFAULT ((0)) FOR [current_amount]
GO
ALTER TABLE [dbo].[savings_goals] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[savings_goals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [transaction_date]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ('Completed') FOR [status]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ('Cash') FOR [payment_mode]
GO
ALTER TABLE [dbo].[transfers] ADD  DEFAULT (getdate()) FOR [transfer_date]
GO
ALTER TABLE [dbo].[transfers] ADD  DEFAULT ('Completed') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bank_accounts]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[beneficiaries]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bill_payments]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[bank_accounts] ([account_id])
GO
ALTER TABLE [dbo].[bill_payments]  WITH CHECK ADD FOREIGN KEY([biller_id])
REFERENCES [dbo].[billers] ([biller_id])
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[bank_accounts] ([account_id])
GO
ALTER TABLE [dbo].[customer_profiles]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[qr_payments]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[bank_accounts] ([account_id])
GO
ALTER TABLE [dbo].[rewards]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[savings_goals]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[bank_accounts] ([account_id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[bank_accounts] ([account_id])
GO
ALTER TABLE [dbo].[transfers]  WITH CHECK ADD FOREIGN KEY([receiver_account_id])
REFERENCES [dbo].[bank_accounts] ([account_id])
GO
ALTER TABLE [dbo].[transfers]  WITH CHECK ADD FOREIGN KEY([sender_account_id])
REFERENCES [dbo].[bank_accounts] ([account_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
USE [master]
GO
